.eggs
dist
**runtime_config.yaml
build_doc

*~
~$$*
**/*.pdf
!documents/paper/*.pdf
.~*
source/test/network_test/runtime_config.yaml

workspace.xml

# visio:
.attribute*
.access*

# LN Manager
*.lnc_process_window_positions

# Sphinx
.doctrees
_sources/
_static/
*.html
*.js
*.inv

# Profiler output
*.prf

.idea/
.cache/

*.swp

*.pot
/locale/
