---
title: Contact
layout: page
---

{% include horizontal_line.html %}

<div class="row">
    <div class="col-md-2"></div>
    <a href="mailto:rafcon@dlr.de" target="_top">

        <div class="col-md-5 mobile-only"><img alt="The RAFCON team with the LRU" src="images/about/Team_with_LRU.jpg" style="margin-top:22px;"></div>
        <div class="col-md-3 contact">
            <h2 class="docs-head">The RAFCON team</h2>
            <p class="docs-text" style="font-size:14px;">
                German Aerospace Center (DLR)<br>
                Institute of Robotics and Mechatronics<br>
                Münchener Straße 20<br>
                Oberpfaffenhofen-Weßling
            </p>
            <i class="fa fa-envelope-o" style="color:#646464; float: left; font-size: 17px; color:#77C1FF;" aria-hidden="true"></i><p class="mail">E-Mail</p>
        </div>
    </a>

    <div class="col-md-5 mobile-hide"><img alt="The RAFCON team with the LRU" src="images/about/Team_with_LRU_medium.jpg" style="margin-top:22px;"></div>


</div>


{% include spacer.html %}


<div class="row">
    <div class="col-md-2"></div>
    <a href="mailto:rico.belder@dlr.de" target="_top">

        <div class="col-md-3 contact mobile-padding-space">
            <h2 class="docs-head">Rico Belder</h2>
            <p class="docs-text" style="font-size:14px;">
                German Aerospace Center (DLR)<br>
                Institute of Robotics and Mechatronics<br>
                Cognitive Robotics department<br>
                Tel.: +49 8153 28-3860<br>
                Fax: +49 8153 28-1134
            </p>
            <i class="fa fa-envelope-o" style="color:#646464; float: left; font-size: 17px; color:#77C1FF;" aria-hidden="true"></i><p class="mail">E-Mail</p>
        </div>
    </a>

    <a href="mailto:sebastian.brunner@dlr.de" target="_top">

        <div class="col-md-3 contact mobile-padding-space">
            <h2 class="docs-head">Sebastian Brunner</h2>
            <p class="docs-text" style="font-size:14px;">
                German Aerospace Center (DLR)<br>
                Institute of Robotics and Mechatronics<br>
                Cognitive Robotics department<br>
                Tel.: +49 8153 28-3583<br>
                Fax: +49 8153 28-1134
            </p>
            <i class="fa fa-envelope-o" style="color:#646464; float: left; font-size: 17px; color:#77C1FF;" aria-hidden="true"></i><p class="mail">E-Mail</p>
        </div>
    </a>

    <a href="mailto:franz.steinmetz@dlr.de" target="_top">

        <div class="col-md-3 contact mobile-padding-space">
            <h2 class="docs-head">Franz Steinmetz</h2>
            <p class="docs-text" style="font-size:14px;">
                German Aerospace Center (DLR)<br>
                Institute of Robotics and Mechatronics<br>
                Cognitive Robotics department<br>
                Tel.: +49 8153 28-1555<br>
                Fax: +49 8153 28-1134
            </p>
            <i class="fa fa-envelope-o" style="color:#646464; float: left; font-size: 17px; color:#77C1FF;" aria-hidden="true"></i><p class="mail">E-Mail</p>
        </div>
    </a>

</div>


{% include horizontal_line.html %}
