---
title: Projects
layout: page
description: "RAFCON is used by a variety of institutes which are working on collaborative projects. Thanks to a growing community and third-party developers the showcase of projects using RAFCON is growing."
---

{% include horizontal_line.html %}

<div class="row">
    <div class="col-md-12 placeholder-variable"></div>
</div>

{% for project in site.data.projects %}

    {% capture modulo %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
    {% if modulo == '0' or forloop.first %}
    <div class="row">
        <div class="col-md-2"></div>
    {% endif %}

    {% include single_card.html content=project %}

    {% if modulo == '1' or forloop.last %}
    </div>

    <div class="row">
        <div class="col-md-12 placeholder-medium hidden-xs"></div>
    </div>
    {% endif %}

{% endfor %}