
//
// RAFCON specific styles
//

.widget-title {
    > label {
        color: $fg_color_transparent;
        font-family: DINNextLTPro;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1.1px;
        min-height:40px;
        padding-left:20px;
    }
    background-color: $bg_color;
}

// Add margin to the toolbar to have a spacer below it following the style of the paned spaces
#toolbar {
	margin-bottom:15px;
}

// Color for the margin of the #toolbar
#top_level_vbox {
	background-color: $borders_color;
}

// Proper background color when no state is loaded
#graphical_editor_vbox, #state_editor_eventbox {
    background-color: $base_color;
}
