
//
// RAFCON specific styles
//

.widget-title {
    background-color: $bg_color;
    border-top: 1px solid $borders_color;
    border-bottom: 1px solid $borders_color;
    > label {
        color: $secondary_text_color;
        font-family: DINNextLTPro;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1.1px;
        min-height:40px;
        padding-left:20px;
    }
}

.widget-toolbar {
    background-color: $base_color;
    border-top: 1px solid $borders_color_light;

    toolbar, iconview {
        background-color: $base_color;
    }
}

box {
    .sidebar-toggle {
        border-radius: 0;
        padding: 0px 0px;
        background-color:$bg_color;
    }
}

// Add margin to the toolbar to have a spacer below it following the style of the paned spaces
#toolbar {
	margin-bottom: $paned_separator_wide_width;
}

// Color for the margin of the #toolbar
#top_level_vbox {
	background-color: $borders_color;
}

// Proper background color when no state is loaded
#graphical_editor_vbox, #state_editor_eventbox {
    background-color: $base_color;
}
