<div class="container-fluid contact-section">



  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2" style="text-align:center;">
        <a href="https://dlr.de/rm">
          <img alt="dlr-Logo" src="images/logos/DLR_Logo.svg"  class="mobile-logo" style="width:96px; ">
        </a>
      </div>
      <div class="col-md-4">
        <a href="https://dlr.de/rm">
          <h2 class="getintouch mobile-top tablet-hide" style="color:white;">Developed by</h2>
          <p class="company-name mobile-center">German Aerospace Center</br>
            Institute of Robotics</br>
            and Mechatronics</p>
        </a>
      </div>
        <div class="col-md-1"></div>
      <div class="col-md-3 mobile-center">
        <h2 class="getintouch mobile-contact mobile-center">Get in Touch</h2>
        <a  target="_blank" href="https://github.com/DLR-RM/RAFCON" class="mobile-center">Visit the GitHub Repository</a><br>
        <a href="contact.html" class="mobile-center">Contact the developers</a><br>
        <a href="mailto:rafcon@dlr.de" class="mobile-center" target="_top">Send mail to the RAFCON team</a>
      </div>
      <div class="col-md-2"></div>

    </div>


  <div class="row">
    <div class="col-md-12 placeholder-medium"></div>
  </div>

  <div class="row">
    <div class="col-md-12 placeholder-medium"></div>
  </div>


  </div>


</div>
