<div class="container-fluid contact-section">



  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2" style="text-align:center;">
        <img alt="dlr-Logo" src="/images/DLR_Logo.svg"  class="mobile-logo" style="width:96px; ">
      </div>
      <div class="col-md-4">
        <h2 class="getintouch mobile-top" style="color:#9E9E9E;" >Developed by</h2>
        <p class="company-name mobile-center">German Aerospace Center</br>
          Institute of Robotics</br>
          and Mechatronics</p>
      </div>
        <div class="col-md-1"></div>
      <div class="col-md-3 mobile-center">
        <h2 class="getintouch mobile-contact mobile-center">Get in Touch</h2>
        <a  target="_blank" href="https://github.com" class="mobile-center">Github Repository</a><br>
        <a href="/contact.html" class="mobile-center">Developer</a><br>
        <a href="mailto:rafcon@example.com?Subject=Hi%20there" class="mobile-center" target="_top">Rafcon Team</a>
      </div>
      <div class="col-md-2"></div>

    </div>


  <div class="row">
    <div class="col-md-12 placeholder-medium"></div>
  </div>

  <div class="row">
    <div class="col-md-12 placeholder-medium"></div>
  </div>


  </div>


</div>
