<footer class="mobile-height">

  <div class="col-md-4" style="margin-top: 20px; text-align:center; ">
    <a href="privacy.html" class="subtle-link">Privacy</a> |
    <a href="imprint.html" class="subtle-link">Legal Notice (Impressum)</a>
  </div>
  <div class="col-md-4" style="margin-top: 20px; text-align:center; "><a href="http://www.dlr.de/rmc/rm/" target="_blank" class="subtle-link">©2018 by DLR. | Built by DLR</a></div>
  <div class="col-md-4" style="margin-top: 20px; text-align:center; "><a href="contact.html" class="subtle-link">Contact</a></div>

</footer>
