<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% if page.title %} {{ page.title }}
    {% else %} {{ site.title }}
    {% endif %}
  </title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width">

  <!-- <base href="{{ site.url }}{{ site.baseurl}}/" /> -->

  <!-- Comment out until DSGVO is clarified -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
<!--   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-98351053-2"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-98351053-2', { 'anonymize_ip': true });
  </script>
 -->
  <link rel="stylesheet" type="text/css" href="style/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="style/slick/slick-theme.css"/>
  <link rel="stylesheet" type="text/css" href="style/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="style/css/style.css">
  <link rel="stylesheet" type="text/css" href="style/roboto/roboto.css">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins and Slick) -->
  <script src="js/jquery-3.3.1.min.js"></script>
</head>
