<div class="container-fluid content" style="overflow-x:hidden; z-index:2;">

    {% include placeholder.html size="mobile-head"%}


    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <img alt="dlr-Logo" class="mobile-headline-rafcon" src="images/logos/DLR_Logo.svg" style="width: 80px; padding-right: 20px; margin-bottom: 20px;">
            <img class="mobile-headline-rafcon" src="images/logos/rafcon-logo-negativ.png" alt="" style="width:170px; margin-bottom:40px; margin-top:20px;">
        </div>
    </div>


    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <h2 class="mobile-headline" style="line-height:1.5;">Develop your robotic tasks using <br class="hidden-xs">an intuitive graphical user interface</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3 mobile-center"><a href="https://github.com/DLR-RM/RAFCON/releases/tag/0.12.14" target="_blank" class="btn btn-default" style="max-width: 210px; min-width: 205px;">Download RAFCON</a></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3 mobile-center build-number">Latest Release v0.12.14</div>
    </div>

    <div class="row hidden-xs">
        <div class="col-md-12 placeholder-medium placeholder-mobile-head"></div>
    </div>

    <div class="row hidden-xs">
        <a name="visual_programming"></a>
        <div class="col-md-2"></div>
        <div class="col-md-8 slick-carousel overlap">
            {% for banner in site.data.banner %}
            <div style="background-color:white;">
                <div style="overflow-y: visible; padding-right: 0px; padding-left: 0px;">
                    <img src="{{ banner.image }}" alt="{{ banner.subtext }}">
                </div>
                <p class="docs-text" style="text-align:center; color:#008CFF; opacity:1; margin-top:20px;">{{ banner.subtext }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-2"></div>
    </div>


</div>



<div class="container-fluid white mobile-large">

    {% include placeholder.html size="small "%}

    <div class="row visible-xs-block mobile-overflow">
        <div class="col-md-2"></div>
        <div class="col-md-8 slick-carousel">
            {% for banner in site.data.banner %}
            <div style="background-color:white;">
                <div style="overflow-y: visible; padding-right: 0px; padding-left: 0px;">
                    <img src="{{ banner.image }}" alt="{{ banner.subtext }}">
                </div>
                <p class="docs-text" style="text-align:center; color:#008CFF; opacity:1; margin-top:20px;">{{ banner.subtext }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h5 style="line-height: 1.5; font-size: 17px; color: #646464; opacity: 1;" class="mobile-left">RAFCON uses hierarchical state machines, featuring concurrent state execution, to represent robot programs. It ships with a graphical user interface supporting the creation of state machines and contains IDE like debugging mechanisms. Alternatively, state machines can programmatically be generated using RAFCON's API.</h5>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>


<div class="container-fluid bright">


    {% include placeholder.html size="variable"%}


    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Key Features</h2>
        </div>
    </div>

    {% include placeholder.html size="medium"%}

    <div class="row ">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row ">
                <div class="col-md-4">
                    <a href="plugins.html">
                        <div class="card-large">
                            <div class="card-heading">
                                <span >Universal application</span>
                                <span class="fa fa-puzzle-piece card-icon-plugins" style="font-size:60px;"></span>
                            </div>
                            <div class="card-description-features">
                                <span>RAFCON is written in Python, can be extended with plugins and is hard- and middleware independent.</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="index.html#visual_programming">
                        <div class="card-large">
                            <div class="card-heading">
                                <span >Visual programming</span>
                                <span class="fa fa-wrench card-icon-plugins" style="font-size:60px;"></span>
                            </div>
                            <div class="card-description-features">
                                <span>The sophisticated graphical editor can be used for the creation, execution and debugging of state machines.</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a target="_blank" href="https://github.com/DLR-RM/RAFCON-ros-state-machines">
                        <div class="card-large">
                            <div class="card-heading">
                                <span>Collaborative working</span>
                                <span class="fa fa-github-alt card-icon-plugins" style="font-size:60px;"></span>
                            </div>
                            <div class="card-description-features">
                                <span>Share and reuse your state machines in form of libraries, stored as JSON strings in text files.</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">

    $(document).ready(function(){
        $('.slick-carousel').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 4000,
            dots: true,
            arrows: true,
            adaptiveHeight: true
        });
    });


</script>
