<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" style="width: 126px;">
                <img src="images/logos/rafcon-logo-negativ.png" alt="RAFCON logo">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right nav-list-mobile">
                <li class="hidden-sm"><a href="index.html">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="news.html">News</a></li>
                        <li role="separator" class="divider mobile-hide"></li>
                        <li><a href="projects.html">Projects</a></li>
                        <li><a href="publications.html">Publications</a></li>
                    </ul>
                </li>
                <li><a href="getting_started.html">Getting Started</a></li>
                <li><a href="get_involved.html">Get Involved</a></li>
                <li><a href="plugins.html">Plugins</a></li>
                <li><a href="documentation.html">Docs</a></li>
                <li><a href="about.html">About</a></li>
                <li class="hidden-sm"><a target="_blank" href="https://github.com/DLR-RM/RAFCON"><span class="fa fa-github git-icon" style="font-size: 26px; line-height: 0.7;"></span></a></li>
            </ul>
        </div>
    </div>
</nav>


<script>
    var active = window.location.pathname;
    $(".nav a[href|='" + active + "']").parent().addClass("active");


    $(".nav a").on("click", function(){
        $(".nav").find(".active").removeClass("active");
        $(this).parent().addClass("active");
    });


    $(function() {
        $('#changetoggle').click(function() {
            $('#navbar-hamburger').toggleClass('hidden');
            $('#navbar-close').toggleClass('hidden');
        });
    });
</script>
