<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://dlr-rm.github.io/RAFCON/" style="width: 126px;">
                <img src="images/logos/rafcon-logo-negativ.png" alt="RAFCON logo">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right nav-list-mobile">
                <li class="hidden-sm"><a href="https://dlr-rm.github.io/RAFCON/">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="news">News</a></li>
                        <li role="separator" class="divider hidden-xs"></li>
                        <li><a href="projects">Projects</a></li>
                        <li><a href="publications">Publications</a></li>
                    </ul>
                </li>
                <li><a href="getting_started">Getting Started</a></li>
                <li><a href="get_involved">Get Involved</a></li>
                <li><a href="plugins">Plugins</a></li>
                <li><a href="documentation">Docs</a></li>
                <li><a href="about">About</a></li>
                <li class="hidden-sm"><a target="_blank" href="https://github.com/DLR-RM/RAFCON"><span class="fa fa-github git-icon" style="font-size: 26px; line-height: 0.7;"></span></a></li>
            </ul>
        </div>
    </div>
</nav>


<script>
    $(document).ready(function() {
        $('li.active').removeClass('active');
        var current_path = location.pathname.substring(1)
        $('a[href="' + current_path + '"]').closest('li').addClass('active');
    });
</script>
