<div class="container-fluid bright-max container-mobile container-nav mobile-overflow">

  <div class="row">
    <div class="col-md-12 placeholder-mobile"></div>
  </div>

  <div class="container container-mobile">

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2 class="dark">Plugins</h2>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-md-12 placeholder-medium"></div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="card-max">

        <div class="row">
          <div class="col-md-12 placeholder-key-features"></div>
        </div>



        <div class="row">
          <div class="col-md-12 placeholder-key-features"></div>
        </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <p class="docs-text" style="text-align:center;">
          Rafcon is flexible designed and open for plugins: Thanks to fantastic third-party developers, there are a few tools available. Enhance Rafcon's functionality by downloading some of the plugins below.
        </p>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12 placeholder-key-features">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="border-bottom:1px solid #008CFF; margin-top:50px;"></div>
        <div class="col-md-2"></div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-2"></div>
      <a href="contact.html">
      <div class="col-md-4"><img alt="dlr-Logo" src="images/plugins.jpg" style="margin-top:22px;"></div>
      <div class="col-md-4 contact">
        <h2 class="docs-head">SME - assembly planner</h2>
        <p class="docs-text">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a sapien lobortis, rhoncus mauris tristique, finibus sem. Fusce imperdiet nisl eu volutpat rhoncus. Curabitur euismod pharetra nisi, sit amet sodales augue aliquam vitae. Integer auctor imperdiet lorem, vel commodo magna mollis a. Morbi tincidunt gravida massa, nec gravida lacus dictum a.        </p>
        <i class="fa fa-globe" style="color:#646464; float: left; font-size: 17px; color:#008CFF;" aria-hidden="true"></i><p class="mail">Webpage</p>
      </div>
    </a>
    </div>

    <div class="row">
      <div class="col-md-12 placeholder-key-features"></div>
    </div>



    <div class="row">
      <div class="col-md-12 placeholder-key-features">
        <div class="col-md-2"></div>
        <div class="col-md-8 mobile-hide" style="border-bottom:1px solid #008CFF; margin-top:50px;"></div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <a href="http://www.dlr.de/rmc/rm/en/desktopdefault.aspx/tabid-8016/" target="blank">
      <div class="col-md-4"><img alt="dlr-Logo" src="images/plugins.jpg" style="margin-top:22px;"></div>
      <div class="col-md-4 contact">
        <h2 class="docs-head">Monitoring - DDS remote execution</h2>
        <p class="docs-text">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a sapien lobortis, rhoncus mauris tristique, finibus sem. Fusce imperdiet nisl eu volutpat rhoncus. Curabitur euismod pharetra nisi, sit amet sodales augue aliquam vitae. Integer auctor imperdiet lorem, vel commodo magna mollis a. Morbi tincidunt gravida massa, nec gravida lacus dictum a Morbi tincidunt gravida massa, nec gravida lacus dictum a.        </p>
        <i class="fa fa-globe" style="color:#646464; float: left; font-size: 17px; color:#008CFF;" aria-hidden="true"></i><p class="mail">Webpage</p>
      </div>
    </a>
    </div>



    <!-- <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2"><img alt="dlr-Logo" src="images/DLR_Logo-black.svg" style="width:140px; margin-top:91px;"></div>
      <div class="col-md-4">
        <h2 class="getintouch" style="color:#2b2e3b;" ></h2>
        <p class="company-name" style="color: #646464; opacity: 0.7;">German Aerospace Center</br>
          Institute of Robotics</br>
          and Mechatronics</p>
      </div>
    </div>
    </div> -->

    <div class="row">
      <div class="col-md-12 placeholder-key-features"></div>
    </div>



    <div class="row">
      <div class="col-md-12 placeholder-key-features">
        <div class="col-md-2"></div>
        <div class="col-md-8 mobile-hide" style="border-bottom:1px solid #008CFF; margin-top:50px;"></div>
        <div class="col-md-2"></div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2"></div>
      <a href="http://www.dlr.de/rmc/rm/en/desktopdefault.aspx/tabid-8016/" target="blank">
        <div class="col-md-4"><img alt="dlr-Logo" src="images/plugins.jpg" style="margin-top:22px;"></div>
      <div class="col-md-4 contact" >
        <h2 class="docs-head">Divine - model checking</h2>
        <p class="docs-text">
Proin efficitur ac neque ac scelerisque. Pellentesque commodo ut ex sit amet dictum. Aliquam sodales, justo sit amet porttitor condimentum, velit lectus molestie dolor, eget vehicula nisi lorem quis quam. Nam finibus interdum est, eu mollis felis tincidunt ac. Sed id tortor blandit, ultricies tellus vel, hendrerit eros. Curabitur blandit metus eu magna elementum rhoncus.        </p>
          <i class="fa fa-globe" style="color:#646464; float: left; font-size: 17px; color:#008CFF;" aria-hidden="true"></i><p class="mail">Webpage</p>
      </div>
      </a>
    </div>


    <div class="row">
      <div class="col-md-12 placeholder-key-features"></div>
    </div>


    <div class="row">
      <div class="col-md-12 placeholder-key-features">
        <div class="col-md-2"></div>
        <div class="col-md-8 mobile-hide" style="border-bottom:1px solid #008CFF; margin-top:50px;"></div>
        <div class="col-md-2"></div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2"></div>
      <a href="http://www.dlr.de/rmc/rm/en/desktopdefault.aspx/tabid-8016/" target="blank">
        <div class="col-md-4"><img alt="dlr-Logo" src="images/plugins.jpg" style="margin-top:22px;"></div>
      <div class="col-md-4 contact" >
        <h2 class="docs-head">ROS - info plugin</h2>
        <p class="docs-text">
Vestibulum pharetra, nulla non sagittis interdum, velit velit volutpat mauris, convallis volutpat est lacus a neque. Nulla volutpat, nisl sed rutrum eleifend, erat dui porta nunc, ut ultrices mauris nisl id ligula. Vestibulum quis urna urna. Morbi eu nisi enim. Nunc et consectetur enim. Aliquam erat volutpat. Phasellus quis nulla varius, interdum sapien et, eleifend quam.         </p>
          <i class="fa fa-globe" style="color:#646464; float: left; font-size: 17px; color:#008CFF;" aria-hidden="true"></i><p class="mail">Webpage</p>
      </div>
      </a>
    </div>


    <div class="row">
      <div class="col-md-12 placeholder-key-features"></div>
    </div>

    <div class="row">
      <div class="col-md-12 placeholder-key-features mobile-hide-small"></div>
    </div>




    </div>
    </div>
    </div>

    </div>

    </div>

    <div class="container-fluid bright-max placeholder-mobile-large mobile-hide"></div>









<!--

    <div class="row">
      <div class="col-md-12 placeholder-key-features"></div>
    </div> -->

        <!-- <div class="row">

            <div class="col-md-2"></div>
          <div class="col-md-4 mobile-padding-space">
            <a target="_blank" href="http://www.dlr.de/rmc/rm/desktopdefault.aspx/tabid-4845/20104_read-47199/">
            <div class="card-small">
              <div class="card-heading">
                  <span >SME</span>
                  <div class="card-description-plugins">
                      <span>assembly planner</span>
                  </div>
                  <span class="fa fa-github-alt card-icon-plugins" style="font-size:60px;"></span>
              </div>
            </div>
            </a>
          </div>
          <div class="col-md-4 mobile-padding-space">
            <a target="_blank" href="http://www.dlr.de/rmc/rm/desktopdefault.aspx/tabid-4845/20104_read-47199/">
            <div class="card-small">
              <div class="card-heading">
                <span >Monitoring</span>
                <div class="card-description-plugins">
                    <span>DDS remote execution</span>
                </div>
                <span class="fa fa-github-alt card-icon-plugins" style="font-size:60px;"></span>
              </div>
            </div>
              </a>
          </div>
        </div>

        <div class="row mobile-hide-small">
          <div class="col-md-12 placeholder-docs"></div>
        </div> -->

        <!-- <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4 mobile-padding-space">
            <a target="_blank" href="https://divine.fi.muni.cz/index.html">
            <div class="card-small">
              <div class="card-heading">
                <span >Divine</span>
                <div class="card-description-plugins">
                    <span>model checking</span>
                </div>
                <span class="fa fa-github-alt card-icon-plugins" style="font-size:60px;"></span>

              </div>
            </div>
            </a>
          </div>
          <div class="col-md-4 mobile-padding-space">
            <a target="_blank" class="card-link" href="http://www.dlr.de/rmc/rm/desktopdefault.aspx/tabid-4845/20104_read-47199/">
            <div class="card-small">
              <div class="card-heading">
                <span>ROS</span>
                <div class="card-description-plugins">
                    <span>info plugin</span>
                </div>
                <span class="fa fa-github-alt card-icon-plugins" style="font-size:60px;"></span>
              </div>
            </div>
            </a>
          </div>

          </div> -->



<!--
        <div class="row">
          <div class="col-md-12 placeholder-key-features mobile-hide-small"></div>
        </div>
        <div class="row">
          <div class="col-md-12 placeholder-key-features"></div>
        </div> -->



  <!-- </div> -->



<!--
      </div>
    </div>
  </div>

</div>

</div> -->

<!-- <div class="container-fluid bright-max placeholder-mobile-large mobile-hide-small"  ></div> -->
