<div class="container-fluid bright-max container-mobile mobile-overflow container-nav">

  <div class="row">
    <div class="col-md-12 placeholder-mobile"></div>
  </div>

  <div class="container container-mobile">

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2 class="dark">Publications</h2>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-md-12 placeholder-medium"></div>
  </div>

  <div class="row ">
    <div class="col-md-12">
      <div class="card-max">

        <div class="row">
          <div class="col-md-12 placeholder-key-features"></div>
        </div>

        <div class="row">
          <div class="col-md-12 placeholder-key-features"></div>
        </div>

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-7">
            <h2 class="docs-head">
              Publications & Presentations (2009 - present)
            </h2>
            <p class="docs-text">
              For more information please visit the <a href="http://elib.dlr.de/" target="blank">electronic library</a>.
            </p>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12 placeholder-key-features">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="border-bottom:1px solid #008CFF; margin-top:50px;"></div>
            <div class="col-md-2"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 placeholder-key-features"></div>
        </div>

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-7">
            {% include publication-text.html %}
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 placeholder-key-features"></div>
        </div>


      </div>
    </div>
  </div>

</div>

</div>

<div class="container-fluid bright-max placeholder-mobile-large mobile-hide"></div>
