

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="affix-top" data-spy="affix" data-offset-top="280" data-offset-bottom="273">
            <ul class="sidebar-nav side">
                <li>
                    <a href="#" class="active-side">Concepts</a>
                    <ul>
                      <li class="sub-nav"><a href="#" class="active-sub">States</a></li>
                      <li class="sub-nav"><a href="#">Outcomes</a></li>
                      <li class="sub-nav"><a href="#">Transitions</a></li>
                      <li class="sub-nav"><a href="#">Data Ports</a></li>
                      <li class="sub-nav"><a href="#">Scoped Variables</a></li>
                      <li class="sub-nav"><a href="#">Data Flows Started</a></li>
                      <li class="sub-nav"><a href="#">Variable Manager</a></li>
                      <li class="sub-nav space"></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="nonactive-side" id="two">Getting Started</a>
                </li>
                <li>
                    <a href="#" class="nonactive-side">Changelog</a>
                </li>
                <li>
                    <a href="#" class="nonactive-side">Tutorials</a>
                </li>
                <li>
                    <a href="#" class="nonactive-side">Configuration</a>
                </li>
                <li>
                    <a href="#" class="nonactive-side">Auto Backup</a>
                </li>
                <li>
                    <a href="#" class="nonactive-side">GUI Guide</a>
                </li>
                <li>
                    <a href="#" class="nonactive-side">Plugins</a>
                </li>
                <li>
                    <a href="#" class="nonactive-side">FAQ</a>
                </li>
                <li>
                    <a href="#" class="nonactive-side">Developer Guide</a>
                </li>
                <li>
                    <a href="#" class="nonactive-side">Discussion</a>
                </li>
                <li>
                    <a href="#" class="nonactive-side">RAFCON API</a>
                </li>
            </ul>
</div>
