
<div class="col-md-4 mobile-padding-space">
    <a target="_blank" href="{{ include.content.url }}">
        <div class="card-medium mobile-card">
            <img src="{{ include.content.image }}" alt="">
            <div class="card-heading-projects">
                <span>{{ include.content.name }}</span>
                <div class="card-description-projects">
                    <span>{{ include.content.description }}</span>
                </div>
                <div class="footnote"><span>{{ include.content.note }}</span></div>
            </div>
        </div>
    </a>
</div>