
<div class="row">
    <div class="col-md-5 col-xs-6">
        <img alt="dlr-Logo" src="{{ include.content.image }}" style="margin-top:20px;">
    </div>
    <div class="col-md-7 col-xs-12 contact">
        <h2 >{{ include.content.name }}</h2>
        {% if include.content.intro %}
        <p class="teaser">
            {{include.content.intro}}
        </p>
        {% endif %}
        <p class="docs-text">
            {{include.content.description}}
        </p>
        {% if include.content.url %}
        <a href="{{ include.content.url }}">
            <i class="fa fa-globe" style="color:#646464; float: left; font-size: 17px; color:#008CFF;" aria-hidden="true"></i>&nbsp;Webpage
        </a>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr/>
    </div>
</div>